<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- login form  -->

<%if @hexcolor1 != nil %>  
  <div class="navbar navbar-fixed-top" role="navigation">
<%else %>
   <div class="navbar navbar-fixed-top" role="navigation">
<% end %>

  <div class="container">

      <div class="navbar-header">

        <a class="navbar-brand" href="#">
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 350 350" enable-background="new 0 0 350 350" xml:space="preserve">

              <style>
                .style0{
                  fill: transparent;
                }
                .style1{
                  fill: #fff;
                }
              </style><g>
                <line x1="94.8" y1="40.8" x2="94.8" y2="341.2" class="style0"/>
                <rect x="89.8" y="40.8" width="10" height="300.4" class="style1"/>
              </g>
              <g>
                <circle cx="94.8" cy="25.5" r="15.3" class="style0"/>
                <path d="M94.825 45.802c-11.206 0-20.322-9.117-20.322-20.322S83.619 5.2 94.8 5.2 s20.322 9.1 20.3 20.322S106.03 45.8 94.8 45.802z M94.825 15.158c-5.691 0-10.322 4.63-10.322 10.3 c0 5.7 4.6 10.3 10.3 10.322s10.322-4.63 10.322-10.322C105.146 19.8 100.5 15.2 94.8 15.158z" class="style1"/>
              </g>
              <g>
                <g>
                  <path d="M278.089 176.597c-61.088-18.338-122.176 18.338-183.264 0c0-10.916 0-21.832 0-32.747s0-21.831 0-32.747 s0-21.831 0-32.747c0-10.916 0-21.832 0-32.748c61.088 18.3 122.176-18.338 183.3 0 c-10.015 19.626-20.028 40.731-30.043 62.83C258.061 130 268.1 152.6 278.1 176.597z" class="style0"/>
                </g>
                <path d="M133.545 186.891c-14.684 0-27.818-1.801-40.158-5.505c-2.115-0.635-3.562-2.581-3.562-4.789V45.609 c0-1.581 0.748-3.068 2.016-4.012c1.268-0.943 2.907-1.232 4.422-0.777c11.393 3.4 23.6 5.1 37.3 5.1 c17.261 0 35.003-2.663 52.162-5.239c17.521-2.629 35.639-5.349 53.646-5.349c14.688 0 27.8 1.8 40.2 5.5 c1.42 0.4 2.6 1.5 3.2 2.825c0.583 1.4 0.5 2.916-0.144 4.236c-9.129 17.891-18.624 37.713-28.996 60.5 c10.414 22.5 20 44.2 29.2 66.257c0.743 1.8 0.4 3.836-0.902 5.271c-1.295 1.435-3.304 1.993-5.15 1.4 c-11.394-3.421-23.591-5.083-37.291-5.083c-17.263 0-35.006 2.663-52.166 5.238c-17.52 2.63-35.636 5.349-53.642 5.3 C133.551 186.9 133.5 186.9 133.5 186.891z M99.825 172.813c10.37 2.7 21.4 4.1 33.7 4.078c0.002 0 0 0 0 0 c17.26-0.001 35.001-2.664 52.158-5.239c17.522-2.63 35.642-5.349 53.65-5.349c10.817 0 20.8 1 30.2 3 c-8.237-19.466-16.811-38.77-26.08-58.729c-0.613-1.321-0.62-2.843-0.019-4.17c9.753-21.521 18.735-40.416 27.36-57.549 c-9.725-2.359-20.088-3.511-31.492-3.511c-17.261 0-35.003 2.663-52.161 5.239c-17.521 2.629-35.639 5.349-53.646 5.3 c-12.163 0-23.264-1.235-33.728-3.763V172.813z" class="style1"/>
              </g>
              <g>
                <g>
                  <path d="M118.204 78.729c20.06 4.7 40.1 2 60.178-0.312c11.582-1.385 19.247-1.821 22.997-1.751 c8.951 0.1 15.8 1.8 20.6 4.26c5.93 3.1 8.9 7.6 8.9 12.521c0 4.356-0.952 7.41-2.854 9.3 c-2.183 1.464-4.337 3.012-6.463 4.628c3.693 2.7 6.3 5.2 7.8 7.096c2.573 3.2 3.9 6.6 3.9 9.8 c0 5.049-1.93 8.538-5.791 10.848c-3.302 1.969-7.918 3.14-13.849 3.94c-4.309 0.573-9.876 0.981-16.701 1.5 c-2.631 0.183-5.051 0.367-7.261 0.523c-2.211 0.158-4.351 0.329-6.42 0.501c-21.654 2.398-43.308 5.909-64.962 0.9 c0-3.609 0-7.218 0-10.827c7.274 1.7 14.5 2.4 21.8 2.559c0-13.429 0-26.857 0-40.286 c-7.274-0.131-14.548-0.862-21.822-2.559C118.204 87.1 118.2 82.9 118.2 78.729z M194.469 103.3 c6.331-0.507 11.29-1.25 14.875-2.46c3.586-1.205 5.38-3.008 5.38-5.631c0-2.61-1.486-4.495-4.455-5.502 c-2.969-1.003-8.208-1.448-15.716-0.849c-13.476 1.064-26.951 3.217-40.427 4.125c0 4.8 0 9.6 0 14.4 C167.574 106.5 181 104.4 194.5 103.294z M194.496 129.898c7.441-0.597 13.148-1.379 17.122-2.694 c4.419-1.467 6.63-3.623 6.63-6.825c0-2.844-1.875-5.027-5.623-6.287c-3.749-1.255-9.876-1.822-18.381-1.129 c-13.373 1.073-26.746 3.199-40.118 4.101c0 5.7 0 11.3 0 16.954C167.583 133.1 181 131 194.5 129.898z" class="style1"/>
                </g>
              </g>
              </svg>
            </a>

        <% if @session != nil %>
          <%=Account.find(@user).brand.upcase%>
        <% else %>

        <% end %>
        
      </div>


<div class="navbar-collapse collapse">


        <ul class="nav-buttons nav navbar-right">

<% if @session == nil || @session == false  %>
          <li class="hidden-in-session">
            <button class="btn sign-up-btn bam-button nav-button hidden-in-session " data-toggle="modal" data-target="#myModal">
            Sign Up
            </button>
          </li>

          <li class="hidden-in-session">
              <form action='/signin' method='post' class="navbar-form " role="form">

              <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password"  placeholder="Password" class="form-control">
              </div>

              <button type="submit" class="sign-in-button bam-button nav-button ">Sign in</button>
            </form>
          </li>
<% end %>
<% if @session == true %>
          <li class="hidden-to-public">
            <a href="/account/<%=@user.id%>">
              <button class="bam-button nav-button">Dashboard</button>
            </a>
          </li>

          <li class="hidden-to-public">
            <form class="log_out"  action="/logout" method="post">
              <button class="btn bam-button nav-button">Logout</button>
            </form>
          </li>
<% end %>

          <li>
          <button class="bam-button search-button nav-button">
            <span class="glyphicon glyphicon-search"></span>
         </button>
          </li>
        </ul>

        </div>

                </div>

      <!--/.navbar-collapse -->
   </div>

<div class="container page">



<%if @user != nil %>
<div class="in-session-page">

<div class="col-sm-3">
    <div id="logo-carousel" class="owl-carousel ">
                
      <div class="item">

        <% if @logo1 != nil %>
          <img src="<%= @logo1.url %>" class="img-responsive"/>
        <% end %>
      </div>

      <div class="item">
        <% if @logo2 != nil %>
          <img src="<%= @logo2.url %>" class="img-responsive"/>
        <% end %>
      </div>

      <div class="item">
        <% if @logo3 != nil %>
          <img src="<%= @logo3.url %>" class="img-responsive"/>
        <% end %>
      </div>

    </div><!--logo-slider-->



  <section class="file-list">
  <hr/>
    <p>Download Your Assets</p>
    <ul class="download-links">
    <%if @logo1 != nil%>
    <li><a href="<%= @logo1.url %>" download="<%= @logo1%>" ><%= @logo1%></a></li>
    <hr/>
        <li><a><%= @logo1.url %></a></li>
    <%end%>

<% if @session != nil%>
    <hr/>
    <form action='/pdf/<%=@user.brand%>' method='post'>   
      <button type='submit'>BAM</button>
    </form>
<% end %>

    </ul>
  </section>

</div>
<script>
function copyToClipboard(text) {
    window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
}
$( document ).ready(function() {
    $('.one').click(function() {
    copyToClipboard("<%= @hexcolor1 %>")
    });
      $('.two').click(function() {
    copyToClipboard("<%= @hexcolor2 %>")
    });
        $('.three').click(function() {
    copyToClipboard("<%= @hexcolor3 %>")
    });
});
</script>

      
        <div  class="col-sm-6 col-sm-offset-3" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor1 %>;">
          <h2 class="one hex-color-text">#<%= @hexcolor1 %></h2>

      </div>
        <div class="col-sm-3 col-sm-offset-3" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor2 %>;">
          <h2 class="two hex-color-text">#<%= @hexcolor2 %></h2>
        </div>

        <div  class="col-sm-3" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor3 %>;">
          <h2 class="three hex-color-text">#<%= @hexcolor3 %></h2> 
        </div>


</div><!--in-session-page-->
<% end %>

  <%if @session == nil %>

<div class="slider-row row ">

    <div class="col-md-12 slider-wrap container">
                    <div class="bootslider" id="bootslider">
                        <!-- Bootslider Loader -->
                        <div class="bs-loader">
                            <img src="img/loader.gif" width="31" height="31" alt="Loading.." id="loader"/>
                        </div>
                        <!-- /Bootslider Loader -->

                        <!-- Bootslider Container -->
                        <div class="bs-container">

                            <!-- Bootslider Slide -->
                            <div class="bs-slide active" data-animate-in="slideInLeft" data-animate-out="holeOut">
                                

                                <div class="bs-background">

                                      
                                        
                                        <img src="img/iphone_slide.png" class="bs-layer"
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="800"
                                        data-width="1170" data-height="500" />


                                        <img src="img/imac_slide.png" class="bs-layer"
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="600"
                                        data-width="1170" data-height="500" />

                                          <img src="img/type_logo_slide.png" class="bs-layer "
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="1100"
                                        data-width="1170" data-height="500" />
           
                                    <img src="img/grey.png" alt=""  />
                                </div>
                            </div>
                            <!-- /Bootslider Slide -->


                       <!-- Bootslider Slide -->
                            <div class="bs-slide " data-animate-in="slideInLeft" data-animate-out="holeOut">
                                
                                <div class="bs-background">

                                 
                                        <img src="img/iphone_slide.png" class="bs-layer top-layer"
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="1000"
                                        data-width="1170" data-height="700" />
           
                                    <img src="img/grey.png" alt=""  />
                                </div>
                            </div>
                            <!-- /Bootslider Slide -->

                        </div>
                        <!-- /Bootslider Container -->

                        <!-- Bootslider Controls -->
                    <!--     <div class="bs-controls text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0);" class="bs-prev"><img src="img/left.png"></a>
                                <a href="javascript:void(0);" class="bs-next"><img src="img/right.png"></a>
                            </div>
                        </div> -->
                        <!-- /Bootslider Controls -->

                    </div>
                </div>


    </div>

  <% end %>

  
<!-- Sign In Form -->

<!-- Button trigger modal -->

 

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="x-out" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
      </div><!--modal-header-->

        <div class="modal-body">
          <form action='/signup' method='post'>


        <div class="row form-row">

          <div class="row input-row">
            <div class="col-sm-12">
              <span>
                <input class="basic-slide" id="brand" type="text" name="brand" placeholder="What is your brand?" />
                <label for="brand">Brand</label>
              </span>
            </div>
          </div>

            <div class="row input-row">
              <div class="col-sm-12">
                <span>
                  <input class="basic-slide" id="email" type="text" name="email" placeholder="We won't spam you!" />
                  <label for="email">Email</label>
                </span>
              </div>
            </div>

          <div class="row input-row">
            <div class="col-sm-12">
            <span>
              <input class="basic-slide" id="username" type="text" name="username" placeholder="What Should We Call You?" />
              <label for="username">Username</label>
            </span>
            </div>
          </div>

          <div class="row input-row">
            <div class="col-sm-12">
            <span>
              <input class="basic-slide" id="password" name="password" type="text" placeholder="Don't Forget!" />
              <label for="password">Password</label>
            </span>
            </div>
          </div>

          <div class="row input-row">
            <div class="col-sm-12">
              <span>
                <input class="basic-slide" id="website" type="text" placeholder="Website" />
                <label for="website">Website</label>
              </span>
            </div>
          </div>

          <div>
             <button type="submit" class="sign-up-button bam-button">Register</button>

            </div>
          </div>
            </form>

            


<!-- <<<<<<< HEAD

        <div>

        </div>
=======
>>>>>>> c7b18af7c510c4a3d2e0796253bd24ac8d55a19d -->
        </form>
    </div>  

<!--     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

      </div><!--modalbody-->
    </div>
  </div>

</div>

<div class="container">

<section class="row typography">
  
  <% if @hexcolor3 != nil %>
  <h1>Typography</h1>
    <div class="col-sm-6 headline-box" style="background-color: #<%= @hexcolor3 %>;">
    <h2><%= @mission %></h2>
    
    <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
    </div>
    <% end %>

<% if @hexcolor1 != nil %>
<div class="col-sm-6 body-box" style="background-color: #<%= @hexcolor1 %>;">

  <h2><%= @story %></h2>
    <p style="font-family:'<%= @body %>';" class="body-text"></p>
  <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
</div>
<% end %>


</section>

<%if @session == false || @session == nil %>

<section class="client-row row">


      <div id="demo">
        <div class="container">
                  <div class="row">
                      <div class="client-header">
            <h1>Trusted By</h1>

            </div>

            <div class="col-sm-12">



              <div id="owl-demo" class="owl-carousel">


                <div class="item">
                
                  <img src="#{ app/public/app/public/my/upload/directory/Colonial_Pacific_Logo2.png  }" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>




              </div>
           <div class="customNavigation">
                <a class="btn prev">Previous</a>
                <a class="btn next">Next</a>
                <a class="btn play">Autoplay</a>
                <a class="btn stop">Stop</a>
              </div>

            </div>
          </div>
        </div>

    </div>

</section>
<%end%>


</div>







<!-- Photo uploader  -->











