
<!-- login form  -->

<%if @hexcolor1 != nil %>  
  <div class="navbar navbar-fixed-top" role="navigation" style=" background-color:#<%= @hexcolor1 %>">
<%else %>
   <div class="navbar navbar-fixed-top" role="navigation">
<% end %>

  <div class="container">

      <div class="navbar-header">
      <% if @session != nil %>
        <a class="navbar-brand" href="/<%= @user.website_url %>">
          <%=Account.find(@user).brand.upcase%></a>
        <% else %>
          <a class"navbar-brand">BAM</a>
        <% end %>
        
      </div>
    <%if @session == false || @session == nil %>
        <div class="navbar-collapse collapse">
          <form action='/signin' method='post' class="navbar-form navbar-right" role="form">

              <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password"  placeholder="Password" class="form-control">
              </div>

                <button type="submit" class="sign-in-button bam-button">Sign in</button>

          </form>
        </div>
    <% elsif @session == true %>  
      <a href="/account/<%=@user.id%>">Click here to go to the dashboard</a>
    <% end %>
      <%if @session == true %>
        <form class="log_out"  action="/logout" method="post">
          <button class="btn btn-danger">Logout</button>
        </form>
      <% end %>
      <!--/.navbar-collapse -->
   </div>
   </div>

<div class="container page">

  <%if @session == nil %>
    <img src="img/full_slide.png" class="img-responsive">
  <% end %>

  
<!-- Sign In Form -->

<!-- Button trigger modal -->

  <% if @session == false || @session == nil %>
    <div class="call-to-action">
    <button class="btn sign-up-btn bam-button" data-toggle="modal" data-target="#myModal">
    Sign Up
    </button>
    </div>
  <% end %>
 

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="x-out" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div><!--modal-header-->

        <div class="modal-body">
          <form action='/signup' method='post'>
            <div>
              <label>Brand*</label>
              <input type="text" name="brand" placeholder="Brand" >
            </div>

            <div>
              <label>Email*</label>
              <input type="text" name="email" placeholder="Email" >
            </div>

            <div>
              <label>Username*</label>
              <input type="text" name="username"  placeholder="Username">
            </div>

            <div>
              <label>Password*</label>
              <input type="text" name="password"  placeholder="Password">
            </div>

            <div>
              <label>Website</label>
              <input type="text" name="website"  placeholder="webite">
            </div>          

            <div>
             <button type="submit" class="sign-up-submit">Register</button>
            </div>
            </form>
        </form>
    </div>  

<!--     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

      </div><!--modalbody-->
    </div>
  </div>

<section class="logo-row row">
  <% if @session != nil%>
  <div class="col-sm-4">
  <%  if @logo2 != nil  %>

    <img src="<%= @logo2.url %>" class="img-responsive"/>
  <% end %>
  </div>

  <div class="col-sm-4">
  <% if @logo1 != nil %>
    <img src="<%= @logo1.url %>" class="img-responsive"/>
  <% end %>
  </div>

  <div class="col-sm-4">
  <%  if @logo3  %>
    <img src="<%= @logo3.url %>" class="img-responsive"/>
  <% end %>
  </div>
  <% end %>
</section>



<div class="row">
  <% if @user != nil %>

  <div  class="col-sm-4" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor1 %>;">
    <h2 class="hex-color-text">#<%= @hexcolor1 %></h2>
  </div>

  <div class="col-sm-4" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor2 %>;">
    <h2 class="hex-color-text">#<%= @hexcolor2 %></h2>
  </div>

  <div  class="col-sm-4" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor3 %>;">
    <h2 class="hex-color-text">#<%= @hexcolor3 %></h2> 
  </div>
  <% else %>

  <% end%>
</div>

<section class="row typography">
  
  <% if @hexcolor3 != nil %>
  <h1>Typography</h1>
    <div class="col-sm-6 headline-box" style="background-color: #<%= @hexcolor3 %>;">
    <h2><%= @mission %></h2>
    
    <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
    </div>
    <% end %>

<% if @hexcolor1 != nil %>
<div class="col-sm-6 body-box" style="background-color: #<%= @hexcolor1 %>;">

  <h2><%= @story %></h2>
    <p style="font-family:'<%= @body %>';" class="body-text"></p>
  <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
</div>
<% end %>

<% if @session != nil%>
  <section>
    <form action='/pdf/<%=@user.brand%>' method='post'>   
      <button type='submit'>BAM</button>
    </form>
  </section>
<% end %>

</section>

<section class="client-row row">

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png" class="client-logo">
  </div>

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png" class="client-logo">
  </div>

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png"  class="client-logo">
  </div>

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png" class="client-logo">
  </div>

</section>


</div>






<!-- Photo uploader  -->











