<div class="container">
<h1>Home Page</h1>

<!-- login form  -->

  <%if @hexcolor != nil %>  
    <div class="navbar navbar-fixed-top" role="navigation" style=" background-color:<%= @hexcolor.first %>">
  <%else %>
     <div class="navbar navbar-fixed-top" role="navigation">
  <% end %>
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          <% if @session != nil %>
            <%=Account.find(@session).brand.upcase%>
          <% else %>
            BAM
          <% end %>
          </a>
        </div>
          <div class="navbar-collapse collapse">
            <form action='/signin' method='post' class="navbar-form navbar-right" role="form">
                <div class="form-group">
                  <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" name="password"  placeholder="Password" class="form-control">
                </div>

                  <button type="submit" class="sign-in-button btn btn-success">Sign in</button>
            </form>
            </form>   
              </form>
        </div>
        <%if @session != nil%>
          <form class="log_out"  action="/logout" method="post">
          <button class="btn btn-danger">Logout</button>
        <% end %>
        </form><!--/.navbar-collapse -->
      </div>
    </div>

<% if @user != nil %>  
 <a href="/account/<%=@user.id%>">Click here to go to the dashboard</a>
<% end %>

<!-- Sign In Form -->

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form action='/signup' method='post'>
          
          <div>
            <label>Brand</label>
            <input type="text" name="brand" placeholder="Brand" >
          </div>

          <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" >
          </div>

          <div>
            <label>Username</label>
            <input type="text" name="username"  placeholder="Username">
          </div>

          <div>
            <label>Emai</label>
            <input type="text" name="password"  placeholder="Password">
          </div>

          <div>
           <button type="submit">Register</button>
          </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<% if @user != nil %>

  <div style="width: 300px; height: 300px; background-color: #dadada; background-color: <%= @hexcolor.first %>;"></div>

  <div style="width: 300px; height: 300px; background-color: #dadada; background-color: <%= @hexcolor[1] %>;"></div>

  <div style="width: 300px; height: 300px; background-color: #dadada; background-color: <%= @hexcolor[2] %>;"></div>
<% else %>
  <div style="width: 300px; height: 300px; background-color: #dadada;"></div>
<% end%>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>

<script src="javascript/vendor/bootstrap.min.js"></script>

<script src="javascript/plugins.js"></script>
<script src="javascript/main.js"></script>
<script src="/javascript/bootstrap-colorpicker.js"></script>
<script src="/javascript/bootstrap-colorpicker.min.js"></script>


<script type="text/javascript">
  
  //COLOR PICKER


$(document).ready(function() {
    $('#colorPickerForm').bootstrapValidator({
        fields: {
            color: {
                validators: {
                    hexColor: {
                        message: 'The color code is not valid'
                    }
                }
            }
        }
    });

    $('#colorPicker')
        .colorpicker()
        .on('showPicker changeColor', function(e) {
            // Revalidate the color when user choose a color from the color picker
            $('#colorPickerForm').bootstrapValidator('revalidateField', 'color');
        });
});

//END COLOR PICKER
</script>



<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->






