<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- login form  -->

<div class="container page">



<%if @user != nil %>
<div class="in-session-page">

<div class="col-sm-3 logo-column">
    <div id="logo-carousel" class="owl-carousel ">
                
      <div class="item">

        <% if @logo1 != nil %>
          <img src="<%= @logo1.url %>" class="img-responsive"/>
        <% end %>

        <section class="file-list">
        <hr/>
        <p>Download Your Assets</p>
        <ul class="download-links">
        <%if @logo1 != nil%><li><a href="<%= @logo1.url %>" download="convert/logo1.png">Download As PNG</a></li>

          <li><a href="<%= @logo1.url %>" download="convert/logo1.jpg">Download As JPEG</a></li>
        <% end %>
      </div>

      <div class="item">
        <% if @logo2 != nil %>
          <img src="<%= @logo2.url %>" class="img-responsive"/> 
        <% end %>
          <section class="file-list">
        <hr/>
        <p>Download Your Assets</p>
        <ul class="download-links">
        <%if @logo2 != nil%>
          <li><a href="<%= @logo2.url %>" download="convert/logo2.png">Download As PNG</a></li>
          <hr/>
          <li><a href="<%= @logo2.url %>" download="convert/logo2.jpg">Download As Jpeg</a></li>

        <% end %>
      </div>

      <div class="item">
        <% if @logo3 != nil %>
          <img src="<%= @logo3.url %>" class="img-responsive"/>
        <% end %>
            <section class="file-list">
        <hr/>
        <p>Download Your Assets</p>
        <ul class="download-links">
        <%if @logo3!= nil%>
          <li><a href="<%= @logo3.url %>" download="convert/logo3.png">Download As PNG</a></li>
          <hr/>
          <li><a href="<%= @logo3.url %>" download="convert/logo3.jpg">Download As JPEG</a></li>
        <% end %>
      </div>
    </div><!--logo-slider-->

<% if @session != nil%>
    <hr/>
    <form action='/pdf/<%=@user.brand%>' method='post'>   
      <button type='submit' class="bam-button">Export</button>
    </form>
<% end %>

    </ul>
  </section>

</div>

        <h1 class="brandname-header"><%=Account.find(@user).brand.upcase%></h1>
        <hr/>

      <div class="color-row">

        <h2 id="colors">Colors</h2>

      
        <div  class="col-sm-4 swatch" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor1 %>;">
          <h2 class="one hex-color-text">#<%= @hexcolor1 %></h2>
        </div>

        <div class="col-sm-3 swatch " style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor2 %>;">
          <h2 class="two hex-color-text">#<%= @hexcolor2 %></h2>
        </div>

        <div  class="col-sm-2 swatch" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor3 %>;">
          <h2 class="three hex-color-text">#<%= @hexcolor3 %></h2> 
        </div>

      </div>



        <section class="row typography-row">
        
  
  <% if @hexcolor3 != nil %>

  <h2 id="typography">Typography</h2>
  <hr/>
    
    <ul>
      <li><h3 >Headline: <span style="font-family:'<%= @headline %>';"><%= @headline %></span></h3></li>
      <li><h3 >Body: <span style="font-family:'<%= @body %>';"><%= @body %></span></h3></li>
    </ul>

    <div class="copy-row">

    <h2 id="copy-row">Brand Copy</h2>
    <hr/>

    <h2><%= @mission %></h2>

    
    
   
    <% end %>

<% if @hexcolor1 != nil %>
<div class="col-sm-6 body-box" >

  <h2><%= @story %></h2>
    
  <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
</div>
<% end %>

</div>


</section>


</div><!--in-session-page-->
<% end %>

  <%if @session == nil %>

<div class="slider-row row ">

    <div class="col-md-12 slider-wrap container">
                    <div class="bootslider" id="bootslider">
                        <!-- Bootslider Loader -->
                        <div class="bs-loader">
                            <img src="img/loader.gif" width="31" height="31" alt="Loading.." id="loader"/>
                        </div>
                        <!-- /Bootslider Loader -->

                        <!-- Bootslider Container -->
                        <div class="bs-container">

                            <!-- Bootslider Slide -->
                            <div class="bs-slide active" data-animate-in="fadeIn" data-animate-out="holeOut">
                                

                                <div class="bs-background">

                                      
                                        
                                        <img src="img/iphone_slide.png" class="bs-layer"
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="800"
                                        data-width="1170" data-height="500" />


                                        <img src="img/imac_slide.png" class="bs-layer"
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="600"
                                        data-width="1170" data-height="500" />

                                          <img src="img/type_logo_slide.png" class="bs-layer "
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="1100"
                                        data-width="1170" data-height="500" />
           
                                    <img src="img/grey.png" alt=""  />
                                </div>
                            </div>
                            <!-- /Bootslider Slide -->


                       <!-- Bootslider Slide -->
                            <div class="bs-slide " data-animate-in="slideInLeft" data-animate-out="holeOut">
                                
                                <div class="bs-background">

                                 
                                        <img src="img/iphone_slide.png" class="bs-layer top-layer"
                                        data-animate-in="slideInDown" data-animate-out="fadeOutRightBig" data-delay="1000"
                                        data-width="1170" data-height="700" />
           
                                    <img src="img/grey.png" alt=""  />
                                </div>
                            </div>
                            <!-- /Bootslider Slide -->

                        </div>
                        <!-- /Bootslider Container -->

                        <!-- Bootslider Controls -->
                    <!--     <div class="bs-controls text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0);" class="bs-prev"><img src="img/left.png"></a>
                                <a href="javascript:void(0);" class="bs-next"><img src="img/right.png"></a>
                            </div>
                        </div> -->
                        <!-- /Bootslider Controls -->

                    </div>
                </div>


    </div>

  <% end %>

  
<!-- Sign In Form -->

<!-- Button trigger modal -->

 

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="x-out" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
      </div><!--modal-header-->

        <div class="modal-body">
          <form action='/signup' method='post'>


        <div class="row form-row">

          <div class="row input-row">
            <div class="col-sm-12">
              <span>
                <input class="basic-slide" id="brand" type="text" name="brand" placeholder="What is your brand?" />
                <label for="brand">Brand</label>
              </span>
            </div>
          </div>

            <div class="row input-row">
              <div class="col-sm-12">
                <span>
                  <input class="basic-slide" id="email" type="text" name="email" placeholder="We won't spam you!" />
                  <label for="email">Email</label>
                </span>
              </div>
            </div>

          <div class="row input-row">
            <div class="col-sm-12">
            <span>
              <input class="basic-slide" id="username" type="text" name="username" placeholder="What Should We Call You?" />
              <label for="username">Username</label>
            </span>
            </div>
          </div>

          <div class="row input-row">
            <div class="col-sm-12">
            <span>
              <input class="basic-slide" id="password" name="password" type="text" placeholder="Don't Forget!" />
              <label for="password">Password</label>
            </span>
            </div>
          </div>

          <div class="row input-row">
            <div class="col-sm-12">
              <span>
                <input class="basic-slide" id="website" type="text" placeholder="Website" />
                <label for="website">Website</label>
              </span>
            </div>
          </div>

          <div>
             <button type="submit" class="sign-up-button bam-button">Register</button>

            </div>
          </div>
            </form>




          <li class="hidden-in-session">
              <form action='/signin' method='post' class="navbar-form " role="form">


            


<!-- <<<<<<< HEAD

        <div>

        </div>
=======
>>>>>>> c7b18af7c510c4a3d2e0796253bd24ac8d55a19d -->
        </form>
    </div>  

<!--     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

      </div><!--modalbody-->
    </div>
  </div>

</div>


<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="x-out" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Nice to see you again</h4>
      </div><!--modal-header-->

          <div class="modal-body">
          <div class="col-sm-8 col-sm-offset-2">


            
          <form action="/signin" method="post">

            <div class="form-group">
              <span>
                <input class="basic-slide" type="text" name="username" id="username-sign-in" placeholder="Username" class="form-control" />
                <label for="username-sign-in">Username</label>
              </span>
            </div>

            <div class="form-group">
            <span>
              <input class="basic-slide" type="password" name="password" id="password-sign-in"  placeholder="Password" class="form-control" />
              <label for="password-sign-in">Password</label>
            </span>
            </div>

            <button type="submit" class="sign-in-button bam-button nav-button ">Sign in</button>
            </div>
            </form>
      </div>  
    </div><!--modalbody-->
  </div>
</div>

</div>



              

<div class="container">



<%if @user == nil  %>

<section class="client-row row">


      <div id="demo">
        <div class="container">
                  <div class="row">
                      <div class="client-header">
            <h1>Trusted By</h1>

            </div>

            <div class="col-sm-12">



              <div id="owl-demo" class="owl-carousel">




                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>

                <div class="item">
                  <img src="img/hawthorne_logo.png" class="img-responsive">
                </div>




              </div>
<!--            <div class="customNavigation">
                <a class="btn prev">Previous</a>
                <a class="btn next">Next</a>
                <a class="btn play">Autoplay</a>
                <a class="btn stop">Stop</a>
              </div> -->

            </div>
          </div>
        </div>

    </div>

</section>
<%end%>


</div>







<!-- Photo uploader  -->











