
<!-- login form  -->

<%if @hexcolor1 != nil %>  
  <div class="navbar navbar-fixed-top" role="navigation" style=" background-color:#<%= @hexcolor1 %>">
<%else %>
   <div class="navbar navbar-fixed-top" role="navigation">
<% end %>
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <% if @session != nil %>
          <%=Account.find(@session).brand.upcase%>
        <% else %>
          BAM
        <% end %>
        </a>
      </div>
        <div class="navbar-collapse collapse">
          <form action='/signin' method='post' class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password"  placeholder="Password" class="form-control">
              </div>

                <button type="submit" class="sign-in-button bam-button">Sign in</button>
          </form>
          </form>   
            </form>
      </div>
      <%if @session != nil%>
        <form class="log_out"  action="/logout" method="post">
        <button class="btn btn-danger">Logout</button>
      <% end %>
      </form><!--/.navbar-collapse -->
    </div>
  </div>

<div class="container page">
<img src="img/full_slide.png" class="img-responsive">


<% if @user != nil %>  
<a href="/account/<%=@user.id%>">Click here to go to the dashboard</a>
<% end %>

<!-- Sign In Form -->

<!-- Button trigger modal -->
<div class="call-to-action">
<button class="bam-button" data-toggle="modal" data-target="#myModal">
Sign Up
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span class="x-out" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
    </div>
    <div class="modal-body">
      <form action='/signup' method='post'>
        
        <div>
          <label>Brand</label>
          <input type="text" name="brand" placeholder="Brand" >
        </div>

        <div>
          <label>Email</label>
          <input type="text" name="email" placeholder="Email" >
        </div>

        <div>
          <label>Username</label>
          <input type="text" name="username"  placeholder="Username">
        </div>

        <div>
          <label>Email</label>
          <input type="text" name="password"  placeholder="Password">
        </div>

        <div>
          <label>Website</label>
          <input type="text" name="website"  placeholder="Password">
        </div>

        <div>
         <button type="submit" class="sign-up-submit">Register</button>
        </div>
        </form>
    </div>
<!--     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </div>
</div>
</div>

<section class="logo-row row">
<% if @session != nil%>
<div class="col-sm-4">
<%  if @logo1.url != nil  %>

  <img src="<%= @logo2.url %>" class="img-responsive"/>
<% end %>
</div>

<div class="col-sm-4">
<% if @logo2.url != nil %>
  <img src="<%= @logo1.url %>" class="img-responsive"/>
<% end %>
</div>

<div class="col-sm-4">
<%  if @logo3.url  %>
  <img src="<%= @logo3.url %>" class="img-responsive"/>
<% end %>
</div>
<% end %>



</section>



<div class="row">
<% if @user != nil %>

<div  class="col-sm-4" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor1 %>;">
<h2 class="hex-color-text">#<%= @hexcolor1 %></h2>
</div>

<div class="col-sm-4" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor2 %>;">
<h2 class="hex-color-text">#<%= @hexcolor2 %></h2>
</div>

<div  class="col-sm-4" style=" height: 100px; background-color: #dadada; background-color: #<%= @hexcolor3 %>;">
<h2 class="hex-color-text">#<%= @hexcolor3 %></h2> 
</div>
<% else %>
<div  class="col-sm-4" style=" height: 100px; background-color: #dadada;"></div>
<% end%>
</div>

<section class="row typography">
  
  <% if @hexcolor3 != nil %>
  <h1>Typography</h1>
    <div class="col-sm-6 headline-box" style="background-color: #<%= @hexcolor3 %>;">
    <h2>Headline</h2>
    
    <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
    </div>
    <% end %>

<% if @hexcolor1 != nil %>
<div class="col-sm-6 body-box" style="background-color: #<%= @hexcolor1 %>;">

  <h2>Body</h2>
    <p style="font-family:'<%= @body %>';" class="body-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
  <h3 style="font-family:'<%= @body %>';"> <%= @body %></h3>
</div>
<% end %>

</section>
<section class="client-row row">

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png" class="client-logo">
  </div>

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png" class="client-logo">
  </div>

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png"  class="client-logo">
  </div>

  <div class="col-sm-3">
  <img src="img/hawthorne_logo.png" class="client-logo">
  </div>




</section>



</div>




<!-- Photo uploader  -->











